/* Estilos de Header */
.header{
    background-color: #182C68;
}
.header .container img{
    width: 15em; 
    padding: 1.8em 0;
}
.header .container-tel{
    color: white;
    padding: 1.8em 0;
}

/* Botones flotantes */
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:7.5em;
    right:15px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:end;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
.btn-phone{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:10em;
    right:15px;
    background:blue;
    color:#FFF;
    border-radius:50px;
    text-align:end;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-phone:hover{
    background: blue;
    color: white;
}